body {
  color: #495057;
}
h4 {
  color: #bfb29f;
}
/* Clases del topbar que contiene logo y telefono */
.topbar{
 padding: 10px 0;
}

.topbar .row {
  align-items: center;
}

.phone {
  color: #bfb29f;
}

.logo {
  max-height: 140px;
}

.icons-separator {
  border-right: 1px solid gray;
}
/* NAVBAR */

.navbar {
  background-color: #efe4d5;
}
/* Centro hamburguesa */
.navbar-toggler {
  margin: 0 auto;
}

.btn-search {
  background-color: #fff;
  border: 1px solid #efe4d5;
  color: #bfb29f
}

.btn-search:hover {
  background-color: #efe4d5;
  border: 1px solid #fff;
  color: #fff
}
/* Clases sección más vendidos */
.sellers {
  margin-top: 40px;
}

.sellers .card-body {
  padding: 0.25rem !important;
}

/* Clases sección destacados */
.destacados{
  margin-top: 40px;
}

.destacados-product{
  padding: 0 15px;
  margin: 10px 0;
}

.destacados-product img {
  width: 100%;
}

/* Clase sección ideas */
.ideas {
  margin-top: 40px;
}

.ideas-product {
  padding: 0 15px;
  margin: 10px 0;
}

/* Clase sección Newsletter */
.social-newsletter{
  margin-top: 40px;
}

.social-networks {
  display: flex;
  justify-content: space-around;
}

.btn-newsletter {
  background-color: #bfb29f;
  color: #fff
}

.btn-newsletter:hover {
  background-color: #fff;
  border: 1px solid #bfb29f;
  color: #bfb29f
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
  color: #bfb29f;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover {
  color: #d0d0d0;
  cursor: pointer;
}

/* Clases Footer */
footer {
  margin-top: 20px;
}


/* Media Queries */

/* Medium devices (tablets, upto 768px) */
@media (max-width: 768px) {
.logo {
  max-height: 100px;
  }
  /* Acomodo el tamaño de las tarjetas tomadas de boostrap */
.card-deck .card {
  flex: 1 0 25%
}
.social-networks {
  margin-top: 20px;
  justify-content: space-between;
  }
}

/* Medium devices (tablets and small computers) */
@media (min-width: 769px) and (max-width: 991px) {
  /* Acomodo el tamaño de las tarjetas tomadas de boostrap */
  .card-deck .card {
    flex: 1 0 30%
  }
}
