
@import "normalize.css";

*{
  box-sizing: border-box;
}

body{
  background-image: url(../img/leaves-pattern.png);

}
h4 {
  color:#bfb29f;
}
/* Clases del topbar que contiene logo y telefono */
.topbar{
 padding: 10px 0;
}

.topbar .row {
  align-items: center;
}

.phone {
  color: #bfb29f;
}

a {
  text-decoration: none;
}

.logo {
  max-height: 140px;
}

.icons-separator {
  border-right: 1px solid #bfb29f;
}


/* NAVBAR */

.navbar {
  background-color: #efe4d5;
}

/* Centro hamburguesa */
.navbar-toggler {
  margin: 0 auto;
}

.btn-search {
  background-color: #fff;
  border: 1px solid #efe4d5;
  color: #bfb29f
}

.btn-search:hover {
  background-color: #efe4d5;
  border: 1px solid #fff;
  color: #fff
}

.formulario {
  border: 1px solid #d6d4d4;
  padding: 15px;
  margin-top: 20px;
}

.formulario label{
  display: block;
  margin-bottom: 15px;
}

/* cajas de formulario */
 #nombre,#surname, #email, #pass {
  display:block;
  outline: none;
  width: 100%;
  height: 35px;
  border:none;
  border-radius: 4px;
  border-bottom: 2px solid #b4bcb3;
  padding: 0 10px;
  margin-top: 10px;
}

/* titulo de registro y inicio de sesión */
 .formulario h2{
  text-align: left;
   color:#bfb29f;
	font-size: 60px;
	letter-spacing: 1px;
}

/*  boton de registro  y iniciar sesion */
.boton {
  cursor: pointer;
  display: flex;
  justify-content: center;
	align-items: center;
	width: 200px;
	height: 45px;
  border: none;
	border-radius: 9px;
  background-color:#bfb29f ;
	color: #FFFFFF;
	font-size: 20px;
	margin: 30px auto;
}

/* Clase sección Newsletter */
.social-newsletter{
  margin-top: 40px;
}

.social-networks {
  display: flex;
  justify-content: space-around;
}

.btn-newsletter {
  background-color: #bfb29f;
  color: #fff;
}

.btn-newsletter:hover {
  background-color: #fff;
  border: 1px solid #bfb29f;
  color: #bfb29f;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
  color: #bfb29f;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover {
  color: #d0d0d0;
  cursor: pointer;
}

/* Clases Footer */
footer {
  margin-top: 20px;
}


/* Media Queries */

/* Medium devices (tablets, upto 768px) */
@media (max-width: 768px) {
.logo {
  max-height: 100px;
  }
  /* Acomodo el tamaño de las tarjetas tomadas de boostrap */
.card-deck .card {
  flex: 1 0 25%;
}
.social-networks {
  margin-top: 20px;
  justify-content: space-between;
  }
}

/* Medium devices (tablets and small computers) */
@media (min-width: 769px) and (max-width: 991px) {
  /* Acomodo el tamaño de las tarjetas tomadas de boostrap */
  .card-deck .card {
    flex: 1 0 30%
  }
}
